<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login and Registration Success</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'loginregistration_app/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'loginregistration_app/css/main.css' %}">
</head>
<body>
    <div class="wrapper">    
        <h1>Success! Welcome, {{ request.session.first_name }}!</h1>
        <p class="success">Successfully {{ request.session.status }}!</p>
        <form action="/logout" method="POST">
            {% csrf_token %}
                <input type="submit" value="Logout" class="btn btn-danger">
            </div>
        </form>
    </div>    
</body>
</html>